In [24]:
import pandas as pd
import numpy as np

In [40]:
data =  {"Nome": ["Nicolas","Daniel","Julia"],"Idade": [25,29,23],"Cidade":["São José","São Paulo","BH"]}
df = pd.DataFrame(data)

In [41]:
df.head()

      Nome  Idade     Cidade
0  Nicolas     25   São José
1   Daniel     29  São Paulo
2    Julia     23         BH

In [42]:
df.dtypes

Nome      object
Idade      int64
Cidade    object
dtype: object

In [43]:
df.shape

(3, 3)

In [44]:
df.describe()

           Idade
count   3.000000
mean   25.666667
std     3.055050
min    23.000000
25%    24.000000
50%    25.000000
75%    27.000000
max    29.000000

In [47]:
df.describe(include=object)

           Nome    Cidade
count         3         3
unique        3         3
top     Nicolas  São José
freq          1         1

In [48]:
df.describe(include='all')

           Nome      Idade    Cidade
count         3   3.000000         3
unique        3        NaN         3
top     Nicolas        NaN  São José
freq          1        NaN         1
mean        NaN  25.666667       NaN
std         NaN   3.055050       NaN
min         NaN  23.000000       NaN
25%         NaN  24.000000       NaN
50%         NaN  25.000000       NaN
75%         NaN  27.000000       NaN
max         NaN  29.000000       NaN

In [49]:
from google.colab import drive
drive.mount('/content/drive')
arq = '/content/drive/MyDrive/DNC/Day 3/Aula/Salary Dataset.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv(arq)

In [ ]:
]